# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [9]:
df = pd.read_csv(os.path.join("..", "output_data", "cities.csv"))
df = df[["City","Lat","Lng","Max Temp (degrees F)","Humidity","Cloudiness","Wind Speed","Country","Date"]]
display(df)

,City,Lat,Lng,Max Temp (degrees F),Humidity,Cloudiness,Wind Speed,Country,Date
0,bethel,41.3712,-73.4140,33.998,69,90,5.66,US,1611771335
1,busselton,-33.6500,115.3333,51.008,84,0,4.99,AU,1611771417
2,tromso,69.6496,18.9570,26.600,50,0,2.57,NO,1611771206
3,jalu,29.0331,21.5482,53.780,52,4,4.84,LY,1611771433
4,conde,-7.2597,-34.9075,86.000,62,40,6.69,BR,1611771149
...,...,...,...,...,...,...,...,...,...
572,oudenaarde,50.8567,3.6247,44.006,98,100,2.43,BE,1611771545
573,igrim,63.1906,64.4162,-7.834,91,100,3.83,RU,1611771545
574,ngama,11.7833,17.1667,82.958,14,27,4.61,TD,1611771545
575,vardo,70.3705,31.1107,24.800,80,75,11.83,NO,1611771545
576,vostok,46.4856,135.8833,-11.992,90,100,2.10,RU,1611771545

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [44]:
gmaps.configure(api_key=g_key)
locations = df[["Lat", "Lng"]]
humidity = df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 10, point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [110]:
ideal_temp_df = df[(df["Max Temp (degrees F)"] >= 71) & (df["Max Temp (degrees F)"]<76)]
ideal_wind_temp_df = ideal_temp_df[ideal_temp_df["Wind Speed"] < 10]
ideal_df = ideal_wind_temp_df[ideal_wind_temp_df["Cloudiness"] == 0]

ideal_df["Hotel Name"] = ""
display(ideal_df)

<ipython-input-110-e134844b4263>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ideal_df["Hotel Name"] = ""

,City,Lat,Lng,Max Temp (degrees F),Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
64,adelaide,-34.9333,138.6000,71.006,45,0,1.82,AU,1611771223,
67,galdar,28.1470,-15.6502,71.996,83,0,3.09,ES,1611771453,
119,necochea,-38.5473,-58.7368,73.004,42,0,2.68,AR,1611771433,
181,carnarvon,-24.8667,113.6333,71.600,83,0,8.23,AU,1611771287,
278,pisco,-13.7000,-76.2167,75.200,64,0,3.60,PE,1611771279,
379,siaya,0.0612,34.2882,75.200,64,0,4.12,KE,1611771511,
415,neuquen,-38.9516,-68.0591,71.600,33,0,2.57,AR,1611771517,
428,salalah,17.0151,54.0924,75.200,69,0,1.54,OM,1611771519,
477,aguimes,27.9054,-15.4461,71.996,83,0,3.09,ES,1611771528,

Seraching adelaide. Hotel Found!
Seraching galdar. Hotel Found!
Seraching necochea. Hotel Found!
Seraching carnarvon. Hotel Found!
Seraching pisco. Hotel Found!
Seraching siaya. Hotel Found!
Seraching neuquen. Hotel Found!
Seraching salalah. Hotel Found!
Seraching aguimes. Hotel Found!

<ipython-input-111-52ec4e4c4b80>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ideal_df["Hotel Name"] = hotels

,City,Lat,Lng,Max Temp (degrees F),Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
64,adelaide,-34.9333,138.6000,71.006,45,0,1.82,AU,1611771223,Crowne Plaza Adelaide
67,galdar,28.1470,-15.6502,71.996,83,0,3.09,ES,1611771453,Hotel Agaldar
119,necochea,-38.5473,-58.7368,73.004,42,0,2.68,AR,1611771433,Hotel Ñikén Spa & Business Center
181,carnarvon,-24.8667,113.6333,71.600,83,0,8.23,AU,1611771287,Carnarvon Sea Change Apartments
278,pisco,-13.7000,-76.2167,75.200,64,0,3.60,PE,1611771279,HOSTAL MIRAMAR
379,siaya,0.0612,34.2882,75.200,64,0,4.12,KE,1611771511,Ka'Baba Resort
415,neuquen,-38.9516,-68.0591,71.600,33,0,2.57,AR,1611771517,Hilton Garden Inn Neuquen
428,salalah,17.0151,54.0924,75.200,69,0,1.54,OM,1611771519,HYATT SALALAH HOTEL
477,aguimes,27.9054,-15.4461,71.996,83,0,3.09,ES,1611771528,HC Luxe

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [113]:
hotels = []
params = ({
    "key" : g_key,
})
for index, row in ideal_df.iterrows():
    city = ideal_df["City"][index]
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f'{lat},{lng}'
    params["radius"] = 5000
    params["keyword"] = "hotel"
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(url, params = params)
    data_json = response.json()
    
    try:
        hotels.append(data_json["results"][0]["name"])
        print(f'Seraching {city}. Hotel Found!')
    except:
        print("No hotels available")
ideal_df["Hotel Name"] = hotels
hotel_df = ideal_df
display(hotel_df)

Seraching adelaide. Hotel Found!
Seraching galdar. Hotel Found!
Seraching necochea. Hotel Found!
Seraching carnarvon. Hotel Found!
Seraching pisco. Hotel Found!
Seraching siaya. Hotel Found!
Seraching neuquen. Hotel Found!
Seraching salalah. Hotel Found!
Seraching aguimes. Hotel Found!

<ipython-input-113-a6e3c3ca929a>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ideal_df["Hotel Name"] = hotels

,City,Lat,Lng,Max Temp (degrees F),Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
64,adelaide,-34.9333,138.6000,71.006,45,0,1.82,AU,1611771223,Crowne Plaza Adelaide
67,galdar,28.1470,-15.6502,71.996,83,0,3.09,ES,1611771453,Hotel Agaldar
119,necochea,-38.5473,-58.7368,73.004,42,0,2.68,AR,1611771433,Hotel Ñikén Spa & Business Center
181,carnarvon,-24.8667,113.6333,71.600,83,0,8.23,AU,1611771287,Carnarvon Sea Change Apartments
278,pisco,-13.7000,-76.2167,75.200,64,0,3.60,PE,1611771279,HOSTAL MIRAMAR
379,siaya,0.0612,34.2882,75.200,64,0,4.12,KE,1611771511,Ka'Baba Resort
415,neuquen,-38.9516,-68.0591,71.600,33,0,2.57,AR,1611771517,Hilton Garden Inn Neuquen
428,salalah,17.0151,54.0924,75.200,69,0,1.54,OM,1611771519,HYATT SALALAH HOTEL
477,aguimes,27.9054,-15.4461,71.996,83,0,3.09,ES,1611771528,HC Luxe

In [115]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [119]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))